/*
    CSS Guide

    HOME
    1. General Styles
    2. Grid
    3. Header
    4. Main Hero Image
    5. Features 1
    6. New Flavours
    7. Features 2
    8. Recipes
    9. Clients
    10. Visit us
    11. Footer

    CONTACT
    1. Contact form
*/

/* HOME */

/* 1. General Styles */
.hidden { display: none;}

body {
    font-family: 'comfortaa', arial, sans-serif;
    font-size: 15px;
    text-align: justify;
    margin: 0;
    padding: 0;
}

.container {
    width: 375px;
    margin: 0 auto;
    border: solid 1px #d8d2dd;
    box-shadow: 0px 5px 8px #888888;
}

a {
	text-decoration: none;
	transition: all .5s ease-in-out;
}

/* 2. Grid */

.grid-con {
    display: grid;
    padding-left: 10px;
    padding-right: 10x;
    grid-template-columns: repeat(4, 70px);
    grid-column-gap: 30px;
}

#main-header {
    position: sticky;
	background-color: #fff;
}

#main-nav {
    background-image: url(../images/burger.svg) center no-repeat;
    border: 0px;
	width: 50px;
	height: 20px;
	transition: all .5s ease;
    margin-top: 10px;
}

#main-nav label img {
   display: block;
   width: 30px;
   height: 30px;
   cursor: pointer;
}

#main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0; 
}

#main-nav li a {
    color: rgb(71, 35, 112);
    display: block;
    padding: 10px 0 10px 0;
    text-align: center;
}

#main-nav li {
    border-bottom: 1px solid #efefef;
}

#main-nav li:first-child {
    border-top: 1px solid #efefef;
}

#main-nav li:last-child {
    margin-bottom: 10px;
}

#burger-con, #main-nav input {
    display: none;
}

#main-nav input[type="checkbox"]:checked ~ #burger-con {
   display: block;
}

#main-nav input:checked ~ label img{
    transform: rotate(90deg);
}

#main-nav ul li a:hover {
    border-bottom: 5px solid #5b0da3;
    padding-bottom: 3px;
    
}

#main-nav input[type="checkbox"] {
   position: absolute;
   top: -9999px;
   left: -9999px;
}

#burger-con {
   display: none;
   position: absolute;
   top: 100%;
   left: 0;
   background-color: #fff;
   border: 1px solid #ccc;
   z-index: 1;
}

#explore {
    color: #e9e3e3;
    position: absolute;
    top: 20%;
    left: 20%;
    text-align: center;
    z-index: 1;
}

#explore:hover {
    color: #fdc3fd;
}

#tag-line {
  color: #eee7e7;
  position: absolute;
  top: 55%;
  left: 50%;
  text-align: center;
  z-index: 1;
}


#features1 {
    display:block;
    margin-bottom: 40px;
    text-align: center;
    width: 50%;
}

#features1 div {
  margin-bottom: 20px;
}

#bold {
    margin-top: 30px;
    margin-bottom: 50px;
}

#grapes {
    margin-top: 30px;
    margin-bottom: 50px;
}

#hand {
    margin-top: 30px;
    margin-bottom: 50px;
}

#bottle {
    margin-top: 30px;
    margin-bottom: 50px;
}

h2, h3, p {
    text-align: center;
}

#promotional-con {
    background-color: #ede7f8;
    text-align: center;
}

#products-con2 {
  margin-bottom: 550px;
  display: block; 
  
}

#products-con2 div {
  margin-bottom: 20px;
}

#promotional-con2 {
    background-color: #dbd7d7;
}

#company {
    margin-top: 30px;
    margin-bottom: 20px;
}

#products-con3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#products-con3 div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

#products-con3 img {
  display: block;
  margin: 0 auto;
}

#products-con3 div {
  margin-bottom: 30px;
}

#promotional-con3 {
  margin-top: 400px;
  display: block; 
  background-color: #eeeaea;
  margin-bottom: 20px;
}

#burple-logo-footer {
    width: 30%;
    position: relative;
    margin-left: 80px;
}

#footer-nav ul {
  list-style-type: none;
  margin: 40px;
  
}

#footer-nav li {
  
  margin-right: 20px;
}














@media screen and (min-width: 768px ) {
    #main-logo {
        order: -1;
    }
    
}

#main-header {
    position: sticky;
}


#main-logo {
    height: 100px;
}


#hero-con {
    height: 400px;
}

#products-con {
    height: 400px;
}

#products-con2 {
    height: 400px;
}

#products-con3 {
    height: 400px;
}

#promotional-con {
    height: 400px;
}

#promotional-con2 {
    height: 400px;
}

#promotional-con3 {
    height: 400px;
}


