/*---General Styles--- */

body {
   font-family: 'Comfortaa', 'Times New Roman', serif;
}

a {
   text-decoration: none;
   transition: all .5s ease-in-out;
}

input, textarea {
   display: block;
   margin: 0;
   padding: 0;
}

/*.grid-con {
   box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}*/

/*---Main Nav--- */

#main-nav button {
   width: 30px;
   height: 30px;
   background: url(../images/burger.svg) no-repeat center;
   margin-top: 15px;
   margin-bottom: 20px;
   transition: all .5s ease;
   border: 0;
   cursor: pointer;
}

#main-nav button.expanded {
   transform: rotate(90deg);
}

#burger-con {
   margin-top: 20px;
   margin-bottom: 20px;
   display: none;
}

#burger-con.slide-toggle {
   display: block;
}

#main-nav ul {
   list-style: none;
   padding: 0;
   margin: 0;
}

#main-nav ul li a {
   display: block;
   padding: 5px 0 10px 0;
   text-align: center;
   color: #430886;
}

#main-nav ul li a:hover {
   color: #662D91;
}

#main-nav ul li {
   border-bottom: 1px solid #efefef;
}

#main-nav ul li:first-child {
   border-top: 1px solid #efefef;
}

#main-nav ul li:last-child {
   margin-bottom: 10px;
}

.sign-in {
   background-color: #f4eafc;
   color: #fff;
   font-size: 16px;
   font-style: italic;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: all 0.3s ease-in-out;
   cursor: pointer;
   box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.sign-in:hover {
   box-shadow: inset 0px -120px 0px #b176dd;
}

#sign-in-header {
   display: none;
}

#logo {
   max-width: 150px;
   margin-bottom: 10px;
   margin-left: 130px;
   margin-top: -30px;
}

#hero img {
   grid-column: 1/-1;
   grid-row: 1/1;
   justify-self: center;
}

#hero .grid-con {
   grid-column: 2/3;
   grid-row: 1/1;
   margin: 0;
}

#hero-main {
   height: 220px;
   object-fit: cover;
}

#sign-in-hero {
   height: 67px;
}

.hero-img-h2 span, .hero-img-h3 span {
   color: #881ddf;
   font-size: 12px;
}

.hero-img-h2, .hero-img-h3 {
   background-color: #fff;
   padding: 10px 15px;
   font-size: 14px;
}

#hero-heading-box {
   align-self: end;
}

.line-seperator {
   margin-top: 20px;
   border-top: solid 3px #8266cf;
   padding-top: 20px;
}

#hero h2 {
   position: absolute;
   color: #d7d5d8;
   font-size: 16px;
   text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
   margin-left: 350px;
   margin-top: 80px;
   text-align:center;
}

#hero h3 {
   position: absolute;
   color: #e2b6f8;
   font-size: 14px;
   text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
   margin-left: 30px;
   margin-top: 160px;
   text-align:center;
}

#hero p {
   position: absolute;
   color: #e2b6f8;
   font-size: 10px;
   text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
   margin-left: 30px;
   margin-top: 180px;
   text-align:center;
}




/*---Footer--- */

#footer-hero {
	background-repeat: no-repeat;
	background-size: cover;
   background-position: center;
   color: #5b3391;
   font-size: 16px;
   margin-top: 40px;
   padding-bottom: 80px;
   text-align: center;
}

#footer-hero h3 {
   margin-top: 30px;
   font-size: 28px;
   margin-bottom: 16px;
}

#footer-privacy .line-seperator {
   margin-top: 0px;
}

#footer-contact-info h3 {
   font-size: 23px;
}

#footer-contact-info p {
   margin-bottom: 20px;
   line-height: 18px;
   font-size: 11px;
}

#footer-nav, #footer-sign-in {
   display: none;
}

#footer-contact-info {
   font-size: 26px;
}

#footer-hero {
   background-color: #e4e1e1;
}

/* Features */
#features1 {
   height: 1200px;
   margin-top: 20px;
   text-align: center;
   background-color: #fcfbfb;
}

#features1 div {
   margin-top: 20px;
}

#features1 img {
   margin-top: 20px;
}

.img-flotante {
   transform: translateX(-30px) rotate(-10deg);
 }
 

.img-flotante:hover {
   transform: translateX(-5px) rotate(-200deg);
 }

/*New Flavours*/
#promotional-con {
   height: 450px;
   margin-top: 20px;
   text-align: center;
   margin-bottom: 50px;
   background-color: #f8f6fc;
}

   

#promotional-con div {
   margin-top: 20px;
}

#promotional-con img:hover {
   opacity: 70%;
}

/*Features2*/
#products-con2 {
   height: 1500px;
   margin-top: 20px;
   text-align: center;
   margin-bottom: 50px;
 
   background-color: #f8f6fc;
}

#products-con2 div {
   margin-top: 20px;
}

#products-con2 img {
   margin-top: 5px;
}

#products-con2 img:hover {
   opacity: 70%;
   transform: scale(1.2);
   cursor: pointer;
}

#recipes {
   height: 700px;
   margin-top: 20px;
   text-align: center;
   margin-bottom: 50px;
   background-color: #f6f4f8;
}

#recipes div {
   margin-top: 20px;
}

#recipes img {
   border-radius:100px;
   margin-top: 20px;
}

#recipes img:hover {
   opacity: 70%;
   border-radius: 50%;
}

#clients {
   height: 900px;
   margin-top: 20px;
   text-align: center;
   margin-bottom: 50px;
   background-color: #ffffff;
}

#clients div {
   margin-top: 20px;
}

#clients img:hover {
   opacity: 80%;
}

#location {
   height: 500px;
   margin-top: 20px;
   text-align: center;
   margin-bottom: 50px;
   background-color: #f4f3f7;
}

#location div {
   margin-top: 20px;
}

#footer-book-now {
   margin-top: 20px;
}

#social-icons {
   margin-top: 20px;
}

#contact-form {
      background-color: #ffffff;
      height: 1020px;
      text-align: center;
}

#contact-form div {
      margin-top: 20px;
}

#contact-form img {
      margin-top: 20px;
}

#contact-form img:hover {
   opacity: 80%;
   transform: scale(1.1);
}

input, textarea {
   width: 450px;
    padding: 22px;
    border: 2px solid #8e6fc7;
    background-color: #f7f7f7;
    margin-bottom: 30px;
}

input[type="submit"] {
   margin-left:350px;
    width: 100px;
    padding: 16px 32px;
    background-color: #9e62ff;
    color: #fff;
    border: none;
    transition: all 200ms ease-in;
    align-self: flex-end;
}

input[type="submit"]:hover {
    background-color: #4b2d64;
    cursor: pointer;
}

#characters {
   text-align: center;
}

.namestaff {
   font-weight: bolder
}

#characters h2 {
   margin-top: 20px;
}

#characters h3 {
   margin-top: 20px;
}

#characters p {
   margin-top: 10px;
}

#characters div {
   margin-top: 15px;
}

#characters img:hover {
   opacity: 70%;
   border-radius:50%;
}

.lightbox { 
    width: 60vw; 
    height: 65vh; 
    border-radius: 2%;
    position: absolute;
    top: 100%;
    left: 20%;
    background-color: rgba(17, 6, 24, 0.938);
    z-index: 5000;
    display: none;
}

.lightbox_close {
    position: relative;
    top: 20px;
    left: 85%;
    color: white;
    font-size: 3em;
    text-decoration: none;
    font-weight: bolder;
}

.lightbox_close:hover { opacity: 0.5; color: rgb(141, 119, 146); }

.lightbox article {
    width: 80%;
    margin-left: 10%;
    color: white;
}

.lb_text, .lb_heading { text-align: center; }

.lb_text {
    line-height: 1.6 !important;
    margin-left: 0;
    padding-top: 2em;
}

.lightbox:target { display: block; }

.name {
    font-size: 25px;
    text-align: center;
}

article p {
   margin-top: 20px;
}

#hiring {
   text-align: center;
   margin-top: 20px;
}

#hiring div {
   margin-bottom: 20px;
}

#join-us {
   margin-left: 170px;
   margin-right: 200px;
   height: 40px;
}

#team {
   text-align: center;
   margin-top: 20px;
}

#team p {
   margin: 20px;
}

/*---Tablet Sized Screens--- */

@media screen and (min-width: 768px) {

   #sticky-nav-con {
      position: sticky;
      background-color: #fff;
      top: 0px;
      border-bottom: solid 1px #c3c3c3;
      z-index: 1;
   }

   #button {
      display: none;
   }

   #logo {
      width: 90%;
      margin-top: 10px;
      order: -1;
      margin-left: 30px;
   }

   #burger-con {
      display: block;
      font-size: 13px;
   }

   #burger-con ul li, #burger-con ul li:first-child {
      border: none;
      display: inline;
   }

   #main-nav ul li a {
      display: inline;
   }

   #burger-con ul li {
      margin-right: 10px;
   }

   #burger-con ul li:last-child {
      margin-right: 0;
   }

   #main-nav {
      margin-top: 4%;
      margin-bottom: 4%;
      border-left: 1px solid #dce0f3;
      padding-left: 30px;
      
   }

   #sign-in-header {
      margin-top: 30px;
      height: 40px;
      display: flex;
      margin-right: -16px;
      margin-right: 5px;
      color: #fdfbfb;
   }

   #sign-in-header p {
      font-size: 12px;
   }

   #sign-in-hero {
      display: none;
   }

   #hero-main {
      height: 455px;
   }

   .hero-img-h2, .hero-img-h3 {
      padding: 30px 15px;
      font-size: 18px;
   }
   .hero-img-h2 span, .hero-img-h3 span {
      font-size: 14px;
   }

   #footer-nav {
      display: block;
   }

   #footer-sign-in {
      display: flex;
      height: 80px;
      margin-top: 40px;
   }

   #features1 {
   height: 350px;
   }

   #promotional-con {
   height: 280px;
   background-color: #f6f4f8;
   }

   #products-con2 {
      height: 300px;
      background-color: #ffffff;
   }

   #recipes {
      height: 350px;
      background-color: #ffffff;
   }

   #recipes img {
      width: 60%
   }

   #recipes h3 {
      margin-top: 60px;
   }

   #clients {
      height: 270px;
      background-color: #ffffff;
   }

   #clients h2 {
      margin-top: 80px;
   }

   #location {
      height: 350px;
   }

   #location h2 {
      margin-top: 80px;
   }

   #contact-form {
      background-color: #ffffff;
      height: 1020px;
      text-align: center;
   }

   #contact-form div {
      margin-top: 20px;
   }

   #contact-form img {
      margin-top: 20px;
   }

   .lightbox { 
    width: 60vw; 
    height: 50vh; 
    border-radius: 2%;
    position: absolute;
    top: 100%;
    left: 20%;
    background-color: rgba(17, 6, 24, 0.938);
    z-index: 5000;
    display: none;
}

.lightbox_close {
    position: relative;
    top: 20px;
    left: 85%;
    color: white;
    font-size: 3em;
    text-decoration: none;
    font-weight: bolder;
}

.lightbox_close:hover { opacity: 0.5; color: rgb(141, 119, 146); }

.lightbox article {
    width: 80%;
    margin-left: 10%;
    color: white;
}

.lb_text, .lb_heading { text-align: center; }

.lb_text {
    line-height: 1.6 !important;
    margin-left: 0;
    padding-top: 2em;
}

.lightbox:target { display: block; }

.name {
    font-size: 25px;
    text-align: center;
}

article p {
   margin-top: 20px;
}

#join-us {
   margin-left: 300px;
   margin-right: 300px;
   height: 40px;
}
   }

/*---Desktop (1200px) Sized Screens */

@media screen and (min-width: 1200px) {
   #main-header {
      height: 110px;
   }

   #main-nav {
      margin-top: 2%;
      margin-bottom: 2%;
      margin-left: 25px;
   }

   #logo {
      
      margin-top: 20px;
      order: -1;
      margin-left: 100px;
   }

   #burger-con ul li {
      margin-right: 25px;
      font-size: 16px;
   }

   #burger-con {
      margin-top: 28px;
   }

   .sign-in {
      font-size: 18px;
   }

   .hero-img-h2, .hero-img-h3 {
      font-size: 24px;
   }

   .hero-img-h2 span, .hero-img-h3 span {
      font-size: 16px;
   }

   #features1 {
   height: 350px;
   }

#promotional-con {
   height: 420px;
   }

#products-con2 {
   height: 400px;
   background-color: #ffffff;
}

#new-flavours h2 {
   margin-top: 130px;
}

#recipes {
   height: 400px;
   background-color: #f6f4f8;
}

#recipes img {
   width: 45%;
}

#clients {
   height: 280px;
   background-color: #ffffff;
}

#location {
   height: 350px;
}

#contact-form {
      background-color: #ffffff;
      height: 630px;
      text-align: center;
   }

   .lightbox { 
    width: 60vw; 
    height: 45vh; 
    border-radius: 2%;
    position: absolute;
    top: 100%;
    left: 20%;
    background-color: rgba(17, 6, 24, 0.938);
    z-index: 5000;
    display: none;
   }

   .lightbox_close {
      position: relative;
      top: 20px;
      left: 85%;
      color: white;
      font-size: 3em;
      text-decoration: none;
      font-weight: bolder;
   }

   .lightbox_close:hover { opacity: 0.5; color: rgb(141, 119, 146); }

   .lightbox article {
      width: 80%;
      margin-left: 10%;
      color: white;
   }

   .lb_text, .lb_heading { text-align: center; }

   .lb_text {
      line-height: 1.6 !important;
      margin-left: 0;
      padding-top: 2em;
   }

   .lightbox:target { display: block; }

   .name {
      font-size: 25px;
      text-align: center;
   }

   article p {
      margin-top: 20px;
   }

   #characters {
      display: flex;
      padding-left: 180px;
   }

   #join-us {
      margin-left: 500px;
      margin-right: 450px;
      height: 40px;
   }

   #hero h2 {
      position: absolute;
      color: #d7d5d8;
      font-size: 36px;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
      margin-left: 900px;
      margin-top: 100px;
      text-align:center;
   }

   #hero h3 {
      position: absolute;
      color: #e2b6f8;
      font-size: 36px;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
      margin-left: 80px;
      margin-top: 270px;
      text-align:center;
   }

   #hero p {
      position: absolute;
      color: #e2b6f8;
      font-size: 20px;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
      margin-left: 80px;
      margin-top: 300px;
      text-align:center;
   }

  



}
